*{
    margin: 0;
    padding: 0;
}
.top-header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 20px;
   
}
.location, .info{
    padding: 10px;
    
}
.info-icon{
    color: rgb(50, 170, 60);
    padding: 5px;
}
.hr{
    padding: 0;
    position: relative;
}
.header{
    position: fixed;
    width: 100%;
    z-index: 99999;
    position: relative;
    background-color: #FFF;
}
.header-body{
    background-color:rgb(241, 236, 227);
}
.row{
    justify-content: center;
    align-items: center;
}
.header_logo{
    padding: 2%;
}

.header_logo img{
    width: 50%;
}

.menu{
    margin: 0;
    box-sizing: border-box;
    border: none;

}
.nav-item{
    padding: 2%;
}
.nav-item .nav-link{
    color: black;
}

.quote{
    background-color: rgb(50, 170, 60);
    width: 270px;
    height: 63px;
}
.quote a{
    text-align: center;
}
.form{
    justify-content: space-evenly;
    align-items: center;
}
.notification{
    font-size: 20px;
    padding: 8px;
   
}

.notice{
    padding: 4%;
    cursor: pointer;
    position: relative;
}
.search-box{
    background: rgb(241, 236, 227);
    position: absolute;
    top: 66px;
    right: -17%;
    width: 342px;
    height: 49px;
    line-height: 46px;
    box-shadow: 0 0 10px rgba(31, 31, 31, 0.5);
    border-top: 4px solid rgb(172, 172, 172);
    display: none;
}
.search-box::before{
    content: "";
    position: absolute;
    top: -32px;
    right: 13px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 14px solid transparent;
    border-bottom: 14px solid rgb(50, 170, 60);
}
.search-box input[type="text"]{
    width: 252px;
    height: 54px;
    margin-left: 0px;
    border: 1px solid rgb(50, 170, 60);
    outline: none;
}
.search-box input[type="search-button"]{
    width: 90px;
    height: 54px;
    background: rgb(50, 170, 60);
    border: 1px solid rgb(50, 170, 60);
    outline: none;
    cursor: pointer;
    color: #faf8f8;
    margin-left: -6px;
}
.fa-brand{
    list-style: none;
    margin: 0;
    padding: 4px;
}
.fa-brands, .langues{
    padding: 5px;
    font-size: 15px; 
}
.langues{
    padding-right: 30px;
}

.header-text{
    font-size: 60px;
    font: bold;
}
.broccoli{
    width: 115%;
}
.button{
    background-color: rgb(62, 206, 57);
    color: #FFF;
    width: 150px;
    height: 50px;
    border: none;
    text-align: center;
}
.planting-img img{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.planting-img img:hover{
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.purchase{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFF;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid rgb(221, 220, 220);
    border-bottom: 0; 
}

.policy, .fontawesome{
    padding: 10px;
}
.spray{
    margin-top: 20px;
    padding: 36px;
}

.trusted{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    
}
.know-text{
    color:  rgb(62, 206, 57);
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.categories-body{
   background-color: rgb(7, 63, 5);
   height: 20rem
   
}
.categories{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.food-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.food-items img{
    width: 50px;
    display: flex;
}
.foods{
    padding: 5px;
    background-color: #FFF;
    width: 279px;
    height: 285px;
}
.food-img{
    padding: 20px;
    background-color: rgb(226, 240, 186);
    border-radius: 50% 45% 56% 30%;
    padding: 16px;
    margin: 19px
    
}

.food-img, .food-text{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.food{
    box-sizing: border-box;
    border-right: 1px solid#c2c2c2;
    text-transform: uppercase;
    
}
.food:hover{
    color: rgb(62, 206, 57);
}
.cart-header .food::after{
    content: '';
    width: 0px;
    height: 2px;
    background: rgb(62, 206, 57);
    margin: auto;
    position: absolute;
    display: block;
    transition: .5s;
  
}
.cart-header .food:hover:after{
    width: 120px;
}

.blank{
    height: 15rem;
    background-color: rgb(241, 236, 227);
}
.products-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}
.product{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3px;
}
.fruits-cart{
    box-sizing: border-box;
    width: 300px;
    height: auto;
    border: 1px solid rgb(226, 226, 226);
    margin: 10px;
    
}
.arriv{
    padding-top: 10px;
   padding-left: 235px;
  
}
.arrival{
    border: none;
    background-color: rgb(62, 206, 57);
    border-radius: 50% 0% ;
    color: #FFF;
}
.card-img-top{

    background-color:rgb(226, 226, 226);
    height: 270px;
}
.fruits-group{
    display: flex;
    padding: 10px;
}
.fruit img{
    padding: 5px;
    width: 250px;
    height: auto;
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
}
.fruit img:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.reating{
    color: goldenrod;
}
.clients-body{
    background-color:  rgb(7, 63, 5);
}
.clients{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}
.active-clients{
    color:#FFF ;
}

.active-icon{
   font-size: 40px;
}
.client-reating{
    font-size: 40px;
}
.contact-body{
    background-color: rgb(7, 63, 5);
}

.fruitsandvegetables{
   width: 100%;
   position: relative;
   right: 8%;
   transform: translate(2%, 2%);
}
.contact-call{
    padding-top: 0%;
    text-align: center;

}
.question{
    color: rgb(62, 206, 57);
    text-align: center;
}

.contact{
    color: #FFF;
    font-size: 60px;
    font:bolder;
}

.contact-call a{
    text-decoration: none;
    box-sizing: border-box;
}

 .make-call{
    color:#FFF;
    box-sizing: border-box;
    border: none;
    background-color: rgb(62, 206, 57);
    padding: 10px;

}
.calling{
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 10px;
    color: #FFF;
}
.owner{
    position: relative;
}

.owner-img{
    width: 81%;
    position: absolute;
    left: 58%;
    top: 61%;
    transform: translate(-46%, -58%);

}

.date, .more-btn, .user, .curat{
    color: rgb(62, 206, 57);
}
.curated-body{
    box-shadow: 1px ; 
    background-color: #FFF;
    padding-left: 10px;
}
.curated{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.planting-group{
    display: flex;
}
.curat{
    font-size: 30px;
}
.curat-text{
    padding-right: 10px;
    box-sizing: border-box;
    border-right: 1px solid#c2c2c2;

}
.footer{
    background-color:rgb(0, 7, 0);
}
.footer_logo{
    padding: 5px;
}

.footer_logo{
    width: 130px;
    background-color: #FFF;
}
.footer-text{
    color: #FFF;
   
}
.footer-text a{
    color: #FFF;
    text-decoration: none;
}
.header-text-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

@media (max-width: 700px) {
    .top-header{
        display: flex;
        padding: 5px;
        font-size: 10px;
    }
    .fa-brands{
        padding: 2px;
        font-size: 10px; 
    }
    .navbar-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-text-body{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
    }
    .header-text{
        font-size: 20px;
        font: bold;
    }
    
    .button{
        background-color: rgb(62, 206, 57);
        color: #FFF;
        width: 150px;
        height: 30px;
        border: none;
        text-align: center;
    }
    .policy, .fontawesome{
        font-size: 10px;
        padding: 5px;
    }
    .planting-img img{
        padding: 2px;
        width: 80px;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .trusted{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        
    }
    
    .know-text{
        color:  rgb(62, 206, 57);
        font-size: 5px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .spray{
        margin-top: 10px;
        padding: 5px;
    }
    .trusted-text{
        font-size: 8px;
    }
    .categories-body{
        background-color: rgb(7, 63, 5);
        height: 8rem;
        
     }
    .categories{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        font-size: 5px;
    }
    .food-items img{
        width: 20px;
    }
    .foods{
        padding: 2px;
        background-color: #FFF;
        width: 90px;
        height: 100px; 
    }
    .food-img, .food-text{
        font-size: 10px;
    }
    .blank{
        height: 5rem;
        background-color: rgb(241, 236, 227);
    }
    .food{

        box-sizing: border-box;
        border-right: 1px solid#c2c2c2;
        text-transform: uppercase;
        font-size: 8px;
    }
    .cart-header .food:hover:after{
        width: 50px;
    }
    .fruits-group{
        display: block;
        padding: 5px;
    }
    .fruits-cart{
        display: block;
        box-sizing: border-box;
        width: auto;
        height: auto;
        border: 1px solid rgb(226, 226, 226);
        margin: 10px;
        
    }
    .active-icon{
        font-size: 10px;
     }
     .client-reating, .client{
        font-size: 10px;
    }
    
    .contact-details{
        display: block;
        justify-content: space-evenly;
        align-items:center ;
    }
    .fruitsandvegetables{
        width: 40%;
        position: relative;
        right: 8%;
        top: 101%;
        transform: translate(2%, 101%);
     }
     .contact-call{
        padding-top: 0%;
        text-align: center;
        margin-bottom: 10%;
    }
     .question{
        font-size: 5px;
        color: rgb(62, 206, 57);
        text-align: center;
    }
    .contact{
        color: #FFF;
        font-size: 10px;
        font:bolder;
    }
    .make-call{
        font-size: 8px;
        color:#FFF;
        box-sizing: border-box;
        border: none;
        background-color: rgb(62, 206, 57);
        padding: 2px;
    
    }
    .calling{
        font-size: 8px;
        box-sizing: border-box;
        border: 1px solid gray;
        padding: 2px;
        color: #FFF;
    }
    .owner-img{
        width: 40%;
        position: absolute;
        left: 50%;
        top: 101%;
        transform: translate(35%, -101%);
    
    }
    .planting-group{
        display: block;
    }
    .card-img-top{
        background-color:rgb(226, 226, 226);
        width: 100%;
        height: 270px;
    }
    .curated{
        display: block;
        align-items: center;
        justify-content: space-evenly;
        box-sizing: border-box;
    }
}